.context_menu__module{
    position: absolute;

    .menu{
        padding: 5px 9px;
        margin: 1px;
        text-align: center;
        font-size: 1.3rem;
        border: 1px solid #7d7d7d;
        background: rgba(255, 255, 255, 0.93);
        cursor: pointer;

        &:hover{
            background: rgb(245, 229, 188);
        }

        &.disabled{
            background: rgba(202, 202, 202, 0.94);
            color: #797979;
            cursor: default;

            &:hover{
                background: rgba(189, 189, 189, 0.93);
            }

        }
    }
}