.board__module{
    background: url('https://static1.squarespace.com/static/5459ec52e4b04d305f68f1ed/t/548a96e1e4b0a10ad41ef12f/1418368738802/Pattern14.jpg');
    color: wheat;
    border: 1px solid #0074D9;
    position: absolute;
}